@font-face { 
    font-family: 'Garamond'; 
    font-style: normal;  
    src: url('../fonts/MiConv.com__Garamond\ Regular.eot'); 
    src: local('Garamond'),
    url('../fonts/Garamond-Regular.otf') format('embedded-opentype'), 
    url('../fonts/Garamond-Regular.woff') format('woff'),  
    url('../fonts/Garamond\ Regular.ttf') format('truetype'), 
    url('../fonts/Garamond-Regular.svg') format('svg');
}
@font-face { 
    font-family: 'ITC Garamond Std'; 
    font-style: normal;  
    src: url('../fonts/MiConv.com__ITCGaramondStd-BkNarrow.eot'); 
    src: local('ITC Garamond Std'),
    url('../fonts/ITCGaramondStd-BkNarrow.otf') format('embedded-opentype'), 
    url('../fonts/ITCGaramondStd-BkNarrow.woff') format('woff'),  
    url('../fonts/ITCGaramondStd-BkNarrow.ttf') format('truetype'), 
    url('../fonts/ITCGaramondStd-BkNarrow.svg') format('svg');
}
@font-face { 
    font-family: "Suisse Int'l"; 
    font-style: normal;  
    src: url('../fonts/MiConv.com__Suisse\ Int\'l\ Medium.eot'); 
    src: local("Suisse Int'l"),
    url('../fonts/Suisse-Int_l-Medium.otf') format('embedded-opentype'), 
    url('../fonts/Suisse-Int_l-Medium.woff') format('woff'),  
    url('../fonts/Suisse\ Int\'l\ Medium.ttf') format('truetype'), 
    url('../fonts/Suisse-Int_l-Medium.svg') format('svg');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $color-main;
    background-color: $background;
    font: {
        size: 16px;
        family: $font-main;
    }
}

ul,
ol {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    color: $color-main;
}

h1 {
    font: {
        size: 1.25em;
        family: $font-main;
    }
}

h2 {
    font: {
        size: 0;
        family: $font-main;
        weight: normal;
    }
}

h3 {
    font: {
        size: 3.50em;
        family: $font-sub;
        weight: normal;
    }
}

h4 {
    font: {
        size: 2.40em;
        family: $font-sub;
        weight: normal;
    }
}

p {
    font-size: 0.95em;
    font-family: $font-main;
}